<div class="ms-3">
  <h1 class="title text-center mb-3">CAV Weather App</h1>
  <h2 class="text-center mb-5">La tua città e le tue previsioni adesso</h2>
  <h3>Previsioni correnti</h3>
  <div class="label-container">
    <label for="selectedCity">Inserisci una città</label>
    <input type="text" class="form-control mb-2" id="selectedCity" name="selectedCity" [(ngModel)]="selectedCity"/>
  </div>
  <button class="btn btn-primary" (click)="getCity()">Invia</button>
</div>

<angtest-cards *ngIf="cardIsVisible" [weather]="citiesWeather$"></angtest-cards>
